<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsParser.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JsParser.UI.Properties.Settings>
            <setting name="BookmarksData" serializeAs="String">
                <value />
            </setting>
            <setting name="SortingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HierarchyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterByMarksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>js</string>
                        <string>html</string>
                        <string>htm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TrackActiveItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExpandAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="taggedFunction1Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction2Color" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="taggedFunction3Color" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="taggedFunction4Color" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="taggedFunction5Color" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="taggedFunction6Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MaxParametersLength" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MaxParametersLengthInFunctionChain" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Statistics" serializeAs="String">
                <value />
            </setting>
            <setting name="StatisticsServerUrl" serializeAs="String">
                <value>http://apps.megaboich.com/statistics/jsparser/submit</value>
            </setting>
            <setting name="SendStatistics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAnonymousFunctions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendStatisticsPolitic" serializeAs="String">
                <value>Ask</value>
            </setting>
            <setting name="ToDoListCollapsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToDoListLastHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="UseVSColorTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptStripEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FixAspNetTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FixRazorSyntax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToDoKeywords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TODO:</string>
                        <string>To Do:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ShowErrorsNotificationOnTopOfEditor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptStripExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>html</string>
                        <string>htm</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FixAspNetTagsExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>asp</string>
                        <string>aspx</string>
                        <string>ascx</string>
                        <string>master</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FixRazorSyntaxExtensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>cshtml</string>
                    </ArrayOfString>
                </value>
            </setting>
        </JsParser.UI.Properties.Settings>
    </userSettings>
</configuration>