
*.docstates
*.suo
*.user
source/JSparser/bin/
source/JSparser/obj/
source/JsParser.Package/bin/
source/JsParser.Package/obj/
source/JsParser.Core/bin/
source/JsParser.Core/obj/
source/JsParser.Test/bin/
source/JsParser.Test/obj/
source/JsParser.AddIn/bin/
source/JsParser.AddIn/obj/