source/*/obj/
source/*/bin/
*.user
*.suo
source/*.vsix
/source/JsParser.NppPlugin/build/*.dll
/source/JsParser.NppPlugin/build/*.exp
/source/JsParser.NppPlugin/build/*.lib
/source/JsParser.NppPlugin/build/*.pdb
