<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JsParserCore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JsParserCore.Properties.Settings>
            <setting name="BookmarksData" serializeAs="String">
                <value />
            </setting>
            <setting name="SortingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HierarchyEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowLineNumbersEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FilterByMarksEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Extensions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.js</string>
                        <string>.aspx</string>
                        <string>.html</string>
                        <string>.htm</string>
                        <string>.asp</string>
                        <string>.axd</string>
                        <string>.cshtml</string>
                        <string>.master</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TrackActiveItem" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExpandAll" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowHideAutomatically" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="taggedFunction1Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction2Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction3Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction4Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction5Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="taggedFunction6Color" serializeAs="String">
                <value>Black</value>
            </setting>
        </JsParserCore.Properties.Settings>
    </userSettings>
</configuration>